.idea
bin/*
obj

.vscode/
.vs/
.fleet/
.cr/


#project specific

Recipe.Api/bin/*
Recipe.Api/obj/*
Recipe.Api/bin/Debug/*

Recipe.Infrastructure/bin/*
Recipe.Infrastructure/obj/*
Recipe.Infrastructure/bin/Debug/*

Recipe.Application/bin/*
Recipe.Application/obj/*
Recipe.Application/bin/Debug/*

Recipe.Domain/bin/*
Recipe.Domain/obj/*
Recipe.Domain/bin/Debug/*

Recipe.Tests/bin/*
Recipe.Tests/obj/*
Recipe.Tests/bin/Debug/*